## santoshhulbutti@gmail.com   |   Flip Robo Technologies   |   Project Internship #31

## Assignment #4: Web scrapping_Exception handling

## Importing necessary libraries

In [64]:
import pandas as pd
import numpy as np

import os
import urllib
import re

from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

# 
# 
<h2><font color="red">Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
    
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
    
You need to find following details:
    
A) Rank
B) Name
C) Artist
D) Upload date
E) Views
</font></h2>

In [6]:
#connecting to google chrome web driver
driver = webdriver.Chrome(r'chromedriver.exe')


# getting the webpage
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')


#waiting to load the web page
time.sleep(2)

#creating empty list to store the data
rank = []
name = []
artist = []
uplaod_date = []
views = []

#to get rank
try:
    ranks=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:  
        rank.append(i.text)
        
except NoSuchElementException:
    rank.append("-")
except StaleElementReferenceException:
    rank.append("-")
    
time.sleep(3)    
#to get name
try:
    names=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text.split(sep='[')[0].replace('"',''))
        
except NoSuchElementException:
    name.append("-")
except StaleElementReferenceException:
    name.append("-")
    
time.sleep(3)   
#to get artist
try:
    artists=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
        
except NoSuchElementException:
    artist.append("-")
except StaleElementReferenceException:
    artist.append("-")
    
    
time.sleep(3)   
#to get upload date
try:
    upload_dates=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_dates:
        uplaod_date.append(i.text)
        
except NoSuchElementException:
    uplaod_date.append("-")
except StaleElementReferenceException:
    uplaod_date.append("-")
    
    
time.sleep(3)    
#to get total views
try:
    view=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view:
        views.append(i.text)
        
except NoSuchElementException:
    views.append("-")
except StaleElementReferenceException:
    views.append("-")
    
    
    
driver.close()

# creating dataframe to store & visualize the data in a tabular format
PROCUCTS = pd.DataFrame(list(zip(rank, name, artist, uplaod_date, views)),
                              columns =['Rank', 'Name', 'Artist', 'Upload Date', 'Views'])


# displaying the Dataframe
PROCUCTS

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.40
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.98
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.47
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.81
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.64
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.63
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.90
7,8.,Uptown Funk,Mark Ronson,"November 19, 2014",4.70
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.65
9,10.,Gangnam Style,Psy,"July 15, 2012",4.55
10,11.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.51
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.40
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.07
13,14.,Sugar,Maroon 5,"January 14, 2015",3.76
14,15.,Roar,Katy Perry,"September 5, 2013",3.66
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.65
16,17.,Sorry,Justin Bieber,"October 22, 2015",3.59
17,18.,Axel F,Crazy Frog,"June 16, 2009",3.52
18,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.50
19,20.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.38
20,21.,Dark Horse,Katy Perry,"February 20, 2014",3.35
21,22.,Faded,Alan Walker,"December 3, 2015",3.34
22,23.,Girls Like You,Maroon 5,"May 31, 2018",3.33
23,24.,Let Her Go,Passenger,"July 25, 2012",3.30
24,25.,Bailando,Enrique Iglesias,"April 11, 2014",3.27
25,26.,Lean On,Major Lazer,"March 22, 2015",3.26
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.26
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.25
28,29.,Shake It Off,Taylor Swift,"August 18, 2014",3.21
29,30.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.17

# 
# 
<h2><font color="red"> Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
    
    
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
    
Note: - From bcci.tv home page you have reach to the international fixture page through code.</font></h2>

In [11]:
#creating empty list to store the data
match_title = []
series = []
location = []
date = []
time_ = []


#connecting to google chrome web driver
driver = webdriver.Chrome(r'chromedriver.exe')


# getting the webpage
driver.get('https://www.bcci.tv/')
time.sleep(3)
driver.find_element(By.XPATH,'//a[@class="nav-link "]').click()


#waiting to load the web page
time.sleep(2)


#click on More Fixtures button
while (True):
    try:
        More_Fixtures_button = driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
        More_Fixtures_button.click()
    except:
        break


        #waiting to load the web page
time.sleep(2)

all_list = [match_title,series,location,date,time_]


link1 = '//span[@class="matchOrderText ng-binding ng-scope"]'
link2 = '//span[@class="ng-binding"]'
link3 = '//span[@class="ng-binding ng-scope"]'
link4 = '//h5[@class="ng-binding"]'
link5 = '//h5[@class="text-right ng-binding"]'

all_links = [link1,link2,link3,link4,link5]

i = 0
for link in all_links:
    time.sleep(2)
    try:
        matches=driver.find_elements(By.XPATH,link)
        for j in matches:
            all_list[i].append(j.text.replace('-','').replace(',',''))

    except NoSuchElementException:
        all_list[i].append("-")
    except StaleElementReferenceException:
        all_list[i].append("-")
    i+=1
    time.sleep(2)


driver.close()

# creating dataframe to store & visualize the data in a tabular format
Cricket_match = pd.DataFrame({'Match':match_title,'Series':series,'Place':location,'Date':date,'Time':time_})


# displaying the Dataframe
Cricket_match

,Match,Series,Place,Date,Time
0,1st ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 202223,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6 OCT 2022,1:30 PM IST
1,4th T20I,ASIA CUP WOMENS 2022,Sylhet International Cricket Stadium,7 OCT 2022,1:00 PM IST
2,5th T20I,ASIA CUP WOMENS 2022,Sylhet International Cricket Stadium,8 OCT 2022,1:00 PM IST
3,2nd ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 202223,JSCA International Stadium Complex,9 OCT 2022,1:30 PM IST
4,6th T20I,ASIA CUP WOMENS 2022,Sylhet International Cricket Stadium,10 OCT 2022,1:00 PM IST
5,3rd ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 202223,Arun Jaitley Stadium,11 OCT 2022,1:30 PM IST

# 
# 
<h2><font color="red"> Q3: Scrape the details of selenium exception from guru99.com.
    
    Url = https://www.guru99.com/

    You need to find following details:
- Name
- Description

    Note: - From guru99 home page you have to reach to selenium exception handling page through code.</font></h2>

In [6]:
#creating empty list to store the data
name = []
desc = []
dummy = []


#connecting to google chrome web driver
driver = webdriver.Chrome(r'chromedriver.exe')


# getting the webpage
driver.get("https://www.guru99.com/")
time.sleep(2)
driver.find_element(By.XPATH,'//*[@id="kt-info-box_eaeb48-11"]/a/div[1]/div').click()
time.sleep(2)
driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a').click()
time.sleep(2)
#waiting to load the web page



try:
    tags = driver.find_elements(By.XPATH,'//div[@class="entry-content-wrap"]/div/p')
    for i in tags[0:41]:
        desc.append(i.text.split(sep=":")[-1])
        dummy.append(i.text.split(sep=":")[0])
    for i in range(0,41):
        name.append(dummy[i].split()[1])
        
except NoSuchElementException:
    name.append("-")
    desc.append("-")
except StaleElementReferenceException:
    name.append("-")
    desc.append("-")


driver.close()

# creating dataframe to store & visualize the data in a tabular format
exceptions = pd.DataFrame(list(zip(name, desc)),
                              columns =['Name','Description'])

# Length of the dataframe
print(' ')
print('Total Type of exception scraped: ',exceptions.shape[0])

# displaying the first 5 rows of the Dataframe
exceptions.head()

Total Type of exception scraped:  41

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...

# 
# 
<h2><font color="red"> Q4: Scrape the details of State-wise GDP of India from statisticstime.com.
    
Url = http://statisticstimes.com/

You have to find following details:
    
    
A) Rank
B) State
C) GSDP(19-20)
D) GSDP(18-19)
E) Share(18-19)
F) GDP($ billion)


Note: - From statisticstimes home page you have to reach to economy page through code.
    </font></h2>

In [21]:
#creating empty list to store the data
ranks = []
states = []
gsdp_1920 = []
gsdp_1819 = []
share_1819 = []
gdp = []


#connecting to google chrome web driver
driver = webdriver.Chrome(r'chromedriver.exe')


# getting the webpage
driver.get('http://statisticstimes.com/')
time.sleep(1)

ind = driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/button')
try:
    ind.click()
except ElementNotInteractableException:
    driver.get(ind.get_attribute('href'))

time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
time.sleep(2)
driver.get(driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href'))


all_list = [ranks,states,gsdp_1920,gsdp_1819,share_1819,gdp]

j = 1
for i in range(len(all_list)):
    time.sleep(2)
    
    try:
        data = driver.find_elements(By.XPATH,f'//table[@id="table_id"]/tbody/tr/td[{j}]')
        for d in data:
            all_list[i].append(d.text)
        
    except NoSuchElementException:
        all_list[i].append("-")
    except StaleElementReferenceException:
        all_list[i].append("-")
    i+=1
    j+=1
    time.sleep(2)


driver.close()


# creating dataframe to store & visualize the data in a tabular format
state_wise_gdp = pd.DataFrame({'Rank':ranks,'States':states,'GSDP(19-20)':gsdp_1920,'GSDP(18-19)':gsdp_1819,'Share(18-19)':share_1819,'GDP($ Billions)':gdp})

state_wise_gdp

,Rank,States,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 
# 
<h2><font color="red"> Q5. Scrape the details of trending repositories on Github.com.
    
Url = https://github.com/
    
You have to find the following details:
    
A) Repository title
B) Repository description
C) Contributors count
D) Language used
    
Note: - From the home page you have to click on the trending option from Explore menu through code.
</font></h2>

In [23]:
#creating empty list to store the data
title = []
desc = []
count = []
lang = []
url = []


#connecting to google chrome web driver
driver = webdriver.Chrome(r'chromedriver.exe')


# getting the webpage
driver.get('https://github.com/')
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()
time.sleep(2)

try:
    title_tags =driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tags:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')
except StaleElementReferenceException:
    title.append('-')


try:
    urls = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in urls:
        url.append(i.get_attribute('href'))
except NoSuchElementException:
    url.append('-')
except StaleElementReferenceException:
    url.append('-')
    
    
for i in url:
    driver.get(i)
    time.sleep(1)
    try:
        desc_tags = driver.find_element(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        desc.append(desc_tags.text)
    except NoSuchElementException:
        desc.append('-')
    except StaleElementReferenceException:
        desc.append('-')
    
    time.sleep(1)
    try:
        count_tags = driver.find_element(By.XPATH, "//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        count.append(count_tags.text)
    except NoSuchElementException:
        count.append('-')
    except StaleElementReferenceException:
        count.append('-')
    
    time.sleep(1)
    all_lang =[]
    try:
        language_tag = driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if language_tag:
            for j in language_tag:
                all_lang.append(j.text)
        else:
            all_lang.append('-')
        lang.append(all_lang)
    except NoSuchElementException:
        lang.append('-')
    except StaleElementReferenceException:
        lang.append('-')
        
        
driver.close()


# creating dataframe to store & visualize the data in a tabular format
git_repo = pd.DataFrame({'TITLE':title,'DESCRIPTION':desc,'COUNT':count,'Languges':lang})

git_repo

,TITLE,DESCRIPTION,COUNT,Languges
0,libsql / libsql,libSQL is a fork of SQLite that is both Open S...,4,"[C, Tcl, JavaScript, Shell, M4, Makefile]"
1,remoteintech / remote-jobs,A list of semi to fully remote-friendly compan...,666,"[JavaScript, HTML, CSS, Shell]"
2,psf / black,The uncompromising Python code formatter,341,[Python]
3,facebookincubator / AITemplate,AITemplate is a Python framework which renders...,6,"[Python, C++, Cuda]"
4,net4people / bbs,Forum for discussing Internet censorship circu...,7,[Python]
5,xcad2k / cheat-sheets,This is my personal knowledge-base. Here you'l...,12,[-]
6,snaplet / postgres-wasm,A PostgresQL server running in your browser,8,"[Python, Shell, Perl, HTML, Dockerfile, CSS]"
7,shubhamgrg04 / awesome-diagramming,A curated collection of diagramming tools used...,3,[-]
8,deepset-ai / haystack,🔍 Haystack is an open source NLP framework tha...,149,[Python]
9,palera1n / palera1n,"iOS 15.0-15.3.1 tethered checkm8 ""jailbreak"" (...",8,[Shell]
10,SecureAuthCorp / impacket,Impacket is a collection of Python classes for...,136,[Python]
11,pola-rs / polars,Fast multi-threaded DataFrame library in Rust ...,127,"[Rust, Python]"
12,sourcegraph / sourcegraph,Universal code search (self-hosted),294,"[Go, TypeScript, SCSS, PLpgSQL, Shell, Java]"
13,public-apis / public-apis,A collective list of free APIs,"1,267","[Python, Shell]"
14,sqlfluff / sqlfluff,A SQL linter and auto-formatter for Humans,194,"[Python, SQL]"
15,huggingface / datasets,🤗 The largest hub of ready-to-use datasets for...,459,"[Python, Jupyter Notebook]"
16,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,317,"[Shell, Makefile]"
17,gradio-app / gradio,Create UIs for your machine learning model in ...,93,"[Python, TypeScript, Svelte, HTML, CSS, JavaSc..."
18,helm / helm,The Kubernetes Package Manager,574,"[Go, Shell, Makefile]"
19,wagtail / wagtail,A Django content management system focused on ...,577,"[Python, JavaScript, HTML, TypeScript, SCSS, S..."
20,microsoft / PowerToys,Windows system utilities to maximize productivity,308,"[C#, C++, C, PowerShell, HTML, HLSL]"
21,copy / v86,"x86 virtualization in your browser, recompilin...",62,"[JavaScript, Rust, C, WebAssembly, Assembly, H..."
22,torvalds / linux,Linux kernel source tree,"5,000+","[C, Assembly, Shell, Makefile, Python, Perl]"
23,zhanwen / MathModel,研究生数学建模，本科生数学建模、数学建模竞赛优秀论文，数学建模算法，LaTeX论文模板，算法...,2,"[TeX, MATLAB, M]"
24,community / community,Public feedback discussions for: GitHub Mobile...,16,[-]

# 
# 
<h2><font color="red"> Q6. Scrape the details of top 100 songs on billiboard.com.
    
Url = https:/www.billboard.com/
    
You have to find the following details:
    
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
    
Note: - From the home page you have to click on the charts option then hot 100-page link through code.
</font></h2>

In [41]:
#creating empty list to store the data
song_name = []
artists = []
last_rank = []
peak_rank = []
weeks = []



#connecting to google chrome web driver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
options.add_argument("disable-popup-blocking")
driver = webdriver.Chrome(r'chromedriver.exe', chrome_options=options)


# getting the webpage
driver.get('https:/www.billboard.com/')
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a').click()
time.sleep(2)


# Scraping Song Name
try:
    song_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in song_tags:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('-')
except StaleElementReferenceException:
    song_name.append('-')   


dummy=[]
try:
    detail =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/span')
    for i in detail:
        dummy.append(i.text)
except NoSuchElementException:
    dummy.append('-')
except StaleElementReferenceException:
    dummy.append('-')
        
        
driver.close()

artists = dummy[0:401:4]
last_rank = dummy[1:401:4]
peak_rank = dummy[2:401:4]
weeks = dummy[3:401:4]

# creating dataframe to store & visualize the data in a tabular format
billboard = pd.DataFrame({"Song name":song_name,"Artist name":artists,"Last week rank":last_rank,
                          "Peak rank":peak_rank,"Weeks on board":weeks})

billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Bad Habit,Steve Lacy,2,1,13
1,As It Was,Harry Styles,1,1,26
2,Unholy,Sam Smith & Kim Petras,-,3,1
3,I Like You (A Happier Song),Post Malone Featuring Doja Cat,3,3,17
4,Sunroof,Nicky Youre & dazy,4,4,18
...,...,...,...,...,...
95,Blow,Moneybagg Yo,-,96,1
96,World's Smallest Violin,AJR,-,97,1
97,Oklahoma Smoke Show,Zach Bryan,-,98,1
98,No Se Va,Grupo Frontera,-,99,1
99,Down Home,Jimmie Allen,-,100,1

# 
# 
<h2><font color="red"> Q7: Scrape the details of Data science recruiters from naukri.com.
    
Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
    
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code
</font></h2>

## could not locate recruiters option in naukri. copied link directly from website and used in the code

In [60]:
#creating empty list to store the data
name = []
des = []
comp = []
skill = []
loc = []


#connecting to google chrome web driver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
options.add_argument("disable-popup-blocking")
driver = webdriver.Chrome(r'chromedriver.exe', chrome_options=options)

# getting the webpage
time.sleep(2)
driver.get("https://www.naukri.com/data-science-recruiters")
time.sleep(2)
# driver.get(driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div[2]/nav/ul/li[1]/div/ul[1]/li[5]/a').get_attribute('href'))


#to get names
try:
    names =driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
except StaleElementReferenceException:
    name.append('-')
    
    
#to get designation
try:
    dess =driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in dess:
        des.append(i.text)
except NoSuchElementException:
    des.append('-')
except StaleElementReferenceException:
    des.append('-')


#to get company
dummy = []
try:
    comps = driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
    for i in comps:
        dummy.append(i.text)
except NoSuchElementException:
    dummy.append('-')

for i in range(0, len(dummy)):
    if i%2==1:
        comp.append(dummy[i])
        
        
# to get skills
try:
    skills =driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:
    skill.append('-')
except StaleElementReferenceException:
    skill.append('-')
    
    
    
# to get location
try:
    locs = driver.find_elements(By.XPATH,'//p[@class="highlightable"]')
    for i in locs:
        try:
            loc.append(i.text.split('\n')[3])
        except IndexError:
            loc.append('-')
except NoSuchElementException:
    loc.append('-')
except StaleElementReferenceException:
    loc.append('-')
    
driver.close()


# creating dataframe to store & visualize the data in a tabular format
ds_recr = pd.DataFrame({"Name":name,"Designation":des,"Company":comp,
                          "Skills":skill,"Location":loc})

ds_recr

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-

# 
# 
<h2><font color="red"> Q8: Scrape the details of Highest selling novels.
    
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
    
You have to find the following details:
    
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
</font></h2>

In [61]:
#creating empty list to store the data
b_name = []
a_name = []
vol = []
pub = []
genre = []


all_list = [b_name,a_name,vol,pub,genre]


#connecting to google chrome web driver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
options.add_argument("disable-popup-blocking")
driver = webdriver.Chrome(r'chromedriver.exe', chrome_options=options)

# getting the webpage
time.sleep(2)
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
time.sleep(2)
    

j = 2
for i in range(len(all_list)):
    time.sleep(2)
    
    try:
        data = driver.find_elements(By.XPATH,f'//table[@class="in-article sortable"]/tbody/tr/td[{j}]')
        for d in data:
            all_list[i].append(d.text)
        
    except NoSuchElementException:
        all_list[i].append("-")
    except StaleElementReferenceException:
        all_list[i].append("-")
    i+=1
    j+=1


driver.close()


#creating dataframe
novels = pd.DataFrame({"Book Name":b_name,"Author Name":a_name,"Volumes sold":vol,"Publisher":pub,'Genre':genre})
novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 
# 
<h2><font color="red"> Q9: Scrape the details most watched tv series of all time from imdb.com.
    
Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes
</font></h2>

In [63]:
#creating empty list to store the data
name = []
year = []
genre = []
run = []
ratings = []
votes = []


#connecting to google chrome web driver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
options.add_argument("disable-popup-blocking")
driver = webdriver.Chrome(r'chromedriver.exe', chrome_options=options)

# getting the webpage
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(2)

all_list = [name,year,genre,run,ratings,votes]


link1 = '//h3[@class="lister-item-header"]/a'
link2 = '//h3[@class="lister-item-header"]/span[2]'
link3 = '//p[@class="text-muted text-small"]/span[5]'
link4 = '//p[@class="text-muted text-small"]/span[3]'
link5 = '//div[@class="ipl-rating-star small"]/span[2]'
link6 = '//span[@name="nv"]'

all_links = [link1,link2,link3,link4,link5,link6]

i = 0
for link in all_links:
    time.sleep(2)
    try:
        matches=driver.find_elements(By.XPATH,link)
        for j in matches:
            all_list[i].append(j.text)

    except NoSuchElementException:
        all_list[i].append("-")
    except StaleElementReferenceException:
        all_list[i].append("-")
    i+=1


driver.close()

# creating dataframe to store & visualize the data in a tabular format
TV_Series = pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':run,'Ratings':ratings,'Votes':votes})


# displaying the Dataframe
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,062,178"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,155,592"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"972,650"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,980"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,381"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,700"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,760"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,579"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,161"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,276"

# 
# 
<h2><font color="red"> Q10: Details of Datasets from UCI machine learning repositories.
    
Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
</font></h2>

In [68]:
#creating empty list to store the data
name = []
type_ = []
task = []
att_type = []
instances = []
attri = []
year = []

all_list = [name,type_,task,att_type,instances,attri,year]

#connecting to google chrome web driver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
options.add_argument("disable-popup-blocking")
driver = webdriver.Chrome(r'chromedriver.exe', chrome_options=options)

# getting the webpage
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)


driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()
time.sleep(1)

j = 1
for i in range(len(all_list)):
    try:
        pages = driver.find_elements(By.XPATH,f'//table[@border="1"]/tbody/tr/td[{j}]')
        for page in pages:
            all_list[i].append(page.text.strip())
    except NoSuchElementException:
        all_list[i].append("-")
        
    except StaleElementReferenceException:
        all_list[i].append("-") 
    j+=1
    
driver.close()

# creating dataframe to store & visualize the data in a tabular format
datasets = pd.DataFrame({'Dataset Name':name[1:],'Data type':type_[1:],'Task':task[1:],'Attribute type':att_type[1:],
                          'No of instances':instances[1:],'No of attribute':attri[1:],'Year':year[1:]})


# displaying the Dataframe
datasets

,Dataset Name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021